<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img"
                    src="https://www.nicepng.com/png/full/128-1284589_download-chat-icon-skype-group-logo.png"
                    class="online" alt="" />
                <p>Socket.io chat</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul id="namespaces"></ul>
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul></ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQE3g9gHNfxGrQ/profile-displayphoto-shrink_200_200/0/1645507738281?e=1659571200&v=beta&t=wtwELdT1gp6ICp3UigC2EgutGAQgDP2sZKUx0mjCTwI"
                alt="" />

            <input type=" hidden" id="userID" value="">
            <div class="social-media">
                <span id="onlinesCount"><strong> Online Users : </strong><span id="onlineCount">-</span></span>
            </div>
        </div>
        <div id="roomName">
            <h3></h3>
        </div>
        <div class="messages pb-5">
            <ul style="padding-bottom: 50px;">
                <li class="sent">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQE3g9gHNfxGrQ/profile-displayphoto-shrink_200_200/0/1645507738281?e=1659571200&v=beta&t=wtwELdT1gp6ICp3UigC2EgutGAQgDP2sZKUx0mjCTwI"
                        alt="" />
                    <p>salam dostan haleton chetore ? az course nodejs razi hastin?</p>
                </li>
                <li class="replies">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>salam are babab khialet rahat</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" id="messageInput" placeholder="Write your message..." />
                <input type="file" onchange="sendFile(this.files)" />
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <div>
                    <button class="submit">send</i></button>
                    <button class="location" onclick="getLocation()">location</i></button>
                </div>

            </div>
        </div>
    </div>
</div>